/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

.field_with_errors{
	display: inline;
}

.message{
 color: #f00;
 float: right;
}

sup{
	color: red
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-image: linear-gradient(180deg,#ff0116 0,#340004);
    background-repeat: repeat-x;
    background-color: #cd0011;
}
body{
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container::before {
    content: " ";
    display: table;
}
.search-block{
	background-color: #2b2a2a;
	border-radius:5px;
	padding: 20px;
	color: #ffffff;
    margin-top: 6%;
}

#search_name_or_location{
	margin-top: 2.7%
}

.btn-submit:hover {
    background-image: none,linear-gradient(180deg,#6e060e 0,#df3341) !important;
}

.btn-submit{
	top: 1.5em;
	min-width: 112px !important;
	height: 44px !important;
	background-color: #ff1f1f !important;
	color: #fff;
	background-image: none,linear-gradient(180deg,#df3341 0,#6e060e) !important;
	padding: 3px 25px !important;
	border: 0 solid #444;
	text-transform: uppercase;
	transition-property: background-color;
	transition-duration: 1s;
	border-radius: 8px;

}
.icons {
	border:none;
	border-bottom: 1px solid #9e9e9e;
	background: #2b2a2a;
	display:block;
	
}
.icons:focus{
	border:none;
	border-bottom: 1px solid #9e9e9e;
}

input[type="checkbox"]:not(:checked),input[type="checkbox"]:checked{
    opacity: 1;
    pointer-events: visible;
    margin-top: -0.8%;
}

.pagination{
	text-align:center;
	background-color: transparent;;
}