<% if member_signed_in? %>
 <li class="nav-link"><%= link_to "Booking Details", view_booking_details_path %></li>
 <li><%= link_to "Edit Profile", edit_member_registration_path %></li>
 <li><%= link_to "Log out", destroy_member_session_path, :method => :delete  %></li>
 <%else%>
 <li><a href="/members/sign_up">User Registration</a></li>
 <li><a href="/members/sign_in">User Login</a></li>
 <li><a href="/admin/login">Admin Login</a></li>
<% end %>